<template name="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Admin Dashboard
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <div class="content">

            <div class="row">
                <div id="chat" class="col-md-6">
                    {{>messages}}
                </div>
            </div>

        </div><!-- /.content -->
    </div><!-- /.content-wrapper -->
</template>

<template name="messages">
    <div class="container">
        <div id="chat-text">
            {{#each messages}}
            {{> message}}
            {{/each}}
        </div>

        <form id="chat-form">
            <div id="chat-input"><input id="chat-message" type="text" placeholder="Enter your message here" />
                <button id="chat-button" type="submit">Send</button>
            </div>

        </form>

    </div>
</template>

<template name="message">
    <p><strong>{{name}}:</strong> {{message}}</p>
</template>